* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;
     font-family: 'Piazzolla', serif;
}

:root {
     --main-bg: #1e272e;
     --main-color: #0097e6;
}

html {
     font-size: 62.5%;
     /* 1 rem==10px */
}

body {
     height: 100vh;
     display: flex;
     flex-direction: column;
}

.row {
     margin: 0;
}

.main_menu {
     background: var(--main-bg);
}

.navbar {
     color: #fff;
     background: var(--main-bg);
     padding: 2rem 0;
}

.navbar a {
     color: #fff;
     font-size: 1.8rem;
}

.navbar a :hover {
     color: var(--main-color);
}

.navbar-toggler {
     background-color: aliceblue;
}

.navbar li a {
     margin-left: 2rem;
}

.fa-snowflake {
     transition: all linear;
     animation: rot 2s li delay inf direction;
     color: var(--main-color);
}

@keyframes rot {
     0% {
          transform: rotate(0deg);
     }

     100% {
          transform: 360deg;
     }
}

.main_header_left {
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 70rem;
     align-items: flex-start;

}

.main_header_right {
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 70rem;
     align-items: flex-start;

}

.main_header_left p {
     font-size: 2rem;
}

.main_header_left h1 {
     font-size: 4rem;
     margin: 1rem 0 4rem 0;
     text-transform: capitalize;
}

.main_header_left h1 span {
     color: var(--main-bg);
}

.main_header_left button {
     border: none;
     padding: 0.8rem 1.8rem;
     font-size: 1.4rem;
     border-radius: 2rem;
     text-transform: uppercase;
     box-shadow: 0 8px 6px -6px #000;
     outline: none;
}

.main_header_left button:hover {
     box-shadow: 0 8px 6px -6px var(--main-color);
}

footer {
     width: 100%;
     background-color: var(--main-bg);
     margin-top: auto;
     /* position: absolute;
     bottom: 0;
     right: 0; */
}

footer p {
     /* margin 0 */
     margin: 0;
     text-align: center;
     color: #fff;
     line-height: 5rem;
     font-size: 1.4rem;
     /* margin-top: auto; */
}

/* responsive */
/* 768px for mobile */
@media (max-width:768px) {
     .main_header_left {
          height: auto;
          margin: 5rem 0;
     }

     .main_header_right {
          height: auto;
          margin-top: 3rem;
     }
}

/* use filter dropshadow  */
.main_header_right figure img {
     filter: drop-shadow(0 0.5rem 1rem);
}